---
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="px-4 py-12 text-center bg-white sm:py-16">
    <h1 class="mb-4 text-3xl font-bold uppercase sm:text-4xl text-slate-800">Page non trouvée</h1>
    <div class="max-w-2xl mx-auto prose text-center prose-slate">
        <p>La page que vous avez demandée est introuvable. Veuillez vérifier l'URL ou retourner à notre <a href="index.njk">page d'accueil</a>.</p>
    </div>
</div>
